<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="imagen col col-12 col-sm-5">
        </div>
            
        <div class="col col-12 col-sm-6">
            <div class="col col-12">
                Hagamos mucho quilombo contra la reforma!
            </div>
            <div class="col col-12">
                <button routerLink="/convence" type="button" class="btn btn-primary btn-lg btn-block">Convencé!</button>
            </div>
        </div>
    </div>
</div>

<style>
    .imagen {
        background-image: url("./assets/ilustracion-pag-principal.png");
        height: 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media(min-width: 577px) {
        .imagen {
            height: 90%;
        }
    }

    @media(max-width: 576px) {
        .imagen {
            height: 75%;
        }
    }

</style>