.main-image {
    background-image: url("/assets/ilustracion-pag-principal.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-text {
    color: #ef494a;
}

@media(min-width: 577px) {
    .main-image {
        height: 90%;
    }

    .main-text {
        font-size: 4.3vw;
        margin: auto;
    }
}

@media(max-width: 576px) {
    .main-image {
        height: 75%;
    }

    .main-text {
        font-size: 20px;
        margin-top: -48%;
        background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
}