<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-12 col-sm-5">
            <div>
                <img style="width: 100%" src="./assets/ilustracion-pag-principal.png">
            </div>
        </div>
            
        <div class="col col-12 col-sm-6">
            <div class="col col-12">
                Hagamos mucho quilombo contra la reforma!
            </div>
            <div class="col col-12">
                <button routerLink="/convence" type="button" class="btn btn-primary btn-lg btn-block">Convencé!</button>
            </div>
        </div>
    </div>
</div>