<div class="container-fluid">
    <div class="row justify-content-center">
        <img style="width: 70%; height: 70%;" src="./assets/logo-pag.jpg"/>
    </div>
    <div class="row justify-content-center">
        <div class="col col-12 col-sm-10 main-text">
            <h1>Tenemos que levantar nuestra voz para frenar la reforma.</h1>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</h4>
            <button routerLink="/convence" type="button" class="btn btn-primary btn-lg btn-block">Convencé!</button>
        </div>
    </div>
</div>

<br>

<about-page id="about-page"></about-page>

<br>

<propuestas-page id="propuestas-page"></propuestas-page>