<div class="container-fluid h-100">

    <div class="row justify-content-center diputados-list">

        <h1 class="col col-12 list-title">Tweeteale a lxs diputadxs!</h1>

        <div class="card dip-card" style="width: 11rem;">
            <img class="card-img-top" src="/assets/dip/sen-pichetto.jpg" alt="Card image cap">
            <div class="cover">
                <h5>PICHETTO<br><small>(Senador - <b>PJ</b>)</small></h5>
            </div>
            <div style="margin: auto;" class="card-body">
                    <a href="https://twitter.com/intent/tweet?text=%40mauriciomacri%20%23gato" style="margin-top: 4px;" class="btn btn-primary" target="_blank">Twittear</a> <br>
                <a href="#" style="margin-top: 4px;" class="btn btn-primary">Llamar</a>
            </div>
        </div>

        <div class="card dip-card" style="width: 11rem;">
            <img class="card-img-top" src="/assets/dip/sen-pichetto.jpg" alt="Card image cap">
            <div class="cover">
                <h5>PICHETTO<br><small>(Senador - <b>PJ</b>)</small></h5>
            </div>
            <div style="margin: auto;" class="card-body">
                    <a href="https://twitter.com/intent/tweet?text=%40mauriciomacri%20%23gato" style="margin-top: 4px;" class="btn btn-primary" target="_blank">Twittear</a> <br>
                <a href="#" style="margin-top: 4px;" class="btn btn-primary">Llamar</a>
            </div>
        </div>

        <div class="card dip-card" style="width: 11rem;">
            <img class="card-img-top" src="/assets/dip/sen-pichetto.jpg" alt="Card image cap">
            <div class="cover">
                <h5>PICHETTO<br><small>(Senador - <b>PJ</b>)</small></h5>
            </div>
            <div style="margin: auto;" class="card-body">
                    <a href="https://twitter.com/intent/tweet?text=%40mauriciomacri%20%23gato" style="margin-top: 4px;" class="btn btn-primary" target="_blank">Twittear</a> <br>
                <a href="#" style="margin-top: 4px;" class="btn btn-primary">Llamar</a>
            </div>
        </div>

        <div class="card dip-card" style="width: 11rem;">
            <img class="card-img-top" src="/assets/dip/sen-pichetto.jpg" alt="Card image cap">
            <div class="cover">
                <h5>PICHETTO<br><small>(Senador - <b>PJ</b>)</small></h5>
            </div>
            <div style="margin: auto;" class="card-body">
                    <a href="https://twitter.com/intent/tweet?text=%40mauriciomacri%20%23gato" style="margin-top: 4px;" class="btn btn-primary" target="_blank">Twittear</a> <br>
                <a href="#" style="margin-top: 4px;" class="btn btn-primary">Llamar</a>
            </div>
        </div>

        <div class="card dip-card" style="width: 11rem;">
            <img class="card-img-top" src="/assets/dip/sen-pichetto.jpg" alt="Card image cap">
            <div class="cover">
                <h5>PICHETTO<br><small>(Senador - <b>PJ</b>)</small></h5>
            </div>
            <div style="margin: auto;" class="card-body">
                    <a href="https://twitter.com/intent/tweet?text=%40mauriciomacri%20%23gato" style="margin-top: 4px;" class="btn btn-primary" target="_blank">Twittear</a> <br>
                <a href="#" style="margin-top: 4px;" class="btn btn-primary">Llamar</a>
            </div>
        </div>

        <div class="card dip-card" style="width: 11rem;">
            <img class="card-img-top" src="/assets/dip/sen-pichetto.jpg" alt="Card image cap">
            <div class="cover">
                <h5>PICHETTO<br><small>(Senador - <b>PJ</b>)</small></h5>
            </div>
            <div style="margin: auto;" class="card-body">
                    <a href="https://twitter.com/intent/tweet?text=%40mauriciomacri%20%23gato" style="margin-top: 4px;" class="btn btn-primary" target="_blank">Twittear</a> <br>
                <a href="#" style="margin-top: 4px;" class="btn btn-primary">Llamar</a>
            </div>
        </div>

        <div class="card dip-card" style="width: 11rem;">
            <img class="card-img-top" src="/assets/dip/sen-pichetto.jpg" alt="Card image cap">
            <div class="cover">
                <h5>PICHETTO<br><small>(Senador - <b>PJ</b>)</small></h5>
            </div>
            <div style="margin: auto;" class="card-body">
                <a href="https://twitter.com/intent/tweet?text=%40mauriciomacri%20%23gato" style="margin-top: 4px;" class="btn btn-primary" target="_blank">Twittear</a> <br>
                <a href="#" style="margin-top: 4px;" class="btn btn-primary">Llamar</a>
            </div>
        </div>

        <div class="card dip-card" style="width: 11rem;">
            <img class="card-img-top" src="/assets/dip/sen-pichetto.jpg" alt="Card image cap">
            <div class="cover">
                <h5>PICHETTO<br><small>(Senador - <b>PJ</b>)</small></h5>
            </div>
            <div style="margin: auto;" class="card-body">
                <a href="https://twitter.com/intent/tweet?text=%40mauriciomacri%20%23gato" style="margin-top: 4px;" class="btn btn-primary" target="_blank">Twittear</a> <br>
                <a href="#" style="margin-top: 4px;" class="btn btn-primary">Llamar</a>
            </div>
        </div>

        <div class="card dip-card" style="width: 11rem;">
            <img class="card-img-top" src="/assets/dip/sen-pichetto.jpg" alt="Card image cap">
            <div class="cover">
                <h5>PICHETTO<br><small>(Senador - <b>PJ</b>)</small></h5>
            </div>
            <div style="margin: auto;" class="card-body">
                <a href="https://twitter.com/intent/tweet?text=%40mauriciomacri%20%23gato" style="margin-top: 4px;" class="btn btn-primary" target="_blank">Twittear</a> <br>
                <a href="#" style="margin-top: 4px;" class="btn btn-primary">Llamar</a>
            </div>
        </div>

        <div class="card dip-card" style="width: 11rem;">
            <img class="card-img-top" src="/assets/dip/sen-pichetto.jpg" alt="Card image cap">
            <div class="cover">
                <h5>PICHETTO<br><small>(Senador - <b>PJ</b>)</small></h5>
            </div>
            <div style="margin: auto;" class="card-body">
                <a href="https://twitter.com/intent/tweet?text=%40mauriciomacri%20%23gato" style="margin-top: 4px;" class="btn btn-primary" target="_blank">Twittear</a> <br>
                <a href="#" style="margin-top: 4px;" class="btn btn-primary">Llamar</a>
            </div>
        </div>

        <div class="card dip-card" style="width: 11rem;">
            <img class="card-img-top" src="/assets/dip/sen-pichetto.jpg" alt="Card image cap">
            <div class="cover">
                <h5>PICHETTO<br><small>(Senador - <b>PJ</b>)</small></h5>
            </div>
            <div style="margin: auto;" class="card-body">
                <a href="https://twitter.com/intent/tweet?text=%40mauriciomacri%20%23gato" style="margin-top: 4px;" class="btn btn-primary" target="_blank">Twittear</a> <br>
                <a href="#" style="margin-top: 4px;" class="btn btn-primary">Llamar</a>
            </div>
        </div>

    </div>
</div>