<div class="container-fluid h-100">
    <div class="row justify-content-center tweet-form">
        <div class="col col-md-4 col-lg-3 col-xl-2 dip-img">
                <div class="cover">
                    <h5>PICHETTO<br>
                        <small>(Senador - <b>PJ</b>)</small>
                    </h5>
                </div>
        </div>
        
        <div class="col col-md-5 col-lg-5 tweet-textarea">
            <form>
                <h1>Twitteale algo a Pichetto (Partido Justicialista): </h1>
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    <button type="button" class="btn btn-primary btn-lg tweet-button">Tweetear</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center diputados-list">

        <h1 class="col col-12 list-title">Tweeteale a lxs diputadxs!</h1>

        <div class="card dip-card" style="width: 11rem;">
            <img class="card-img-top" src="/assets/dip/sen-pichetto.jpg" alt="Card image cap">
            <div class="cover">
                <h5>PICHETTO<br><small>(Senador - <b>PJ</b>)</small></h5>
            </div>
            <div style="margin: auto;" class="card-body">
                <a href="#" class="btn btn-primary">Twittear</a> <br>
                <a href="#" style="margin-top: 4px;" class="btn btn-primary">Llamar</a>
            </div>
        </div>

        <div class="card dip-card" style="width: 11rem;">
            <img class="card-img-top" src="/assets/dip/sen-pichetto.jpg" alt="Card image cap">
            <div class="cover">
                <h5>PICHETTO<br><small>(Senador - <b>PJ</b>)</small></h5>
            </div>
            <div style="margin: auto;" class="card-body">
                <a href="#" class="btn btn-primary">Twittear</a> <br>
                <a href="#" style="margin-top: 4px;" class="btn btn-primary">Llamar</a>
            </div>
        </div>

        <div class="card dip-card" style="width: 11rem;">
            <img class="card-img-top" src="/assets/dip/sen-pichetto.jpg" alt="Card image cap">
            <div class="cover">
                <h5>PICHETTO<br><small>(Senador - <b>PJ</b>)</small></h5>
            </div>
            <div style="margin: auto;" class="card-body">
                <a href="#" class="btn btn-primary">Twittear</a> <br>
                <a href="#" style="margin-top: 4px;" class="btn btn-primary">Llamar</a>
            </div>
        </div>

        <div class="card dip-card" style="width: 11rem;">
            <img class="card-img-top" src="/assets/dip/sen-pichetto.jpg" alt="Card image cap">
            <div class="cover">
                <h5>PICHETTO<br><small>(Senador - <b>PJ</b>)</small></h5>
            </div>
            <div style="margin: auto;" class="card-body">
                <a href="#" class="btn btn-primary">Twittear</a> <br>
                <a href="#" style="margin-top: 4px;" class="btn btn-primary">Llamar</a>
            </div>
        </div>

        <div class="card dip-card" style="width: 11rem;">
            <img class="card-img-top" src="/assets/dip/sen-pichetto.jpg" alt="Card image cap">
            <div class="cover">
                <h5>PICHETTO<br><small>(Senador - <b>PJ</b>)</small></h5>
            </div>
            <div style="margin: auto;" class="card-body">
                <a href="#" class="btn btn-primary">Twittear</a> <br>
                <a href="#" style="margin-top: 4px;" class="btn btn-primary">Llamar</a>
            </div>
        </div>

        <div class="card dip-card" style="width: 11rem;">
            <img class="card-img-top" src="/assets/dip/sen-pichetto.jpg" alt="Card image cap">
            <div class="cover">
                <h5>PICHETTO<br><small>(Senador - <b>PJ</b>)</small></h5>
            </div>
            <div style="margin: auto;" class="card-body">
                <a href="#" class="btn btn-primary">Twittear</a> <br>
                <a href="#" style="margin-top: 4px;" class="btn btn-primary">Llamar</a>
            </div>
        </div>

        <div class="card dip-card" style="width: 11rem;">
            <img class="card-img-top" src="/assets/dip/sen-pichetto.jpg" alt="Card image cap">
            <div class="cover">
                <h5>PICHETTO<br><small>(Senador - <b>PJ</b>)</small></h5>
            </div>
            <div style="margin: auto;" class="card-body">
                <a href="#" class="btn btn-primary">Twittear</a> <br>
                <a href="#" style="margin-top: 4px;" class="btn btn-primary">Llamar</a>
            </div>
        </div>

        <div class="card dip-card" style="width: 11rem;">
            <img class="card-img-top" src="/assets/dip/sen-pichetto.jpg" alt="Card image cap">
            <div class="cover">
                <h5>PICHETTO<br><small>(Senador - <b>PJ</b>)</small></h5>
            </div>
            <div style="margin: auto;" class="card-body">
                <a href="#" class="btn btn-primary">Twittear</a> <br>
                <a href="#" style="margin-top: 4px;" class="btn btn-primary">Llamar</a>
            </div>
        </div>

        <div class="card dip-card" style="width: 11rem;">
            <img class="card-img-top" src="/assets/dip/sen-pichetto.jpg" alt="Card image cap">
            <div class="cover">
                <h5>PICHETTO<br><small>(Senador - <b>PJ</b>)</small></h5>
            </div>
            <div style="margin: auto;" class="card-body">
                <a href="#" class="btn btn-primary">Twittear</a> <br>
                <a href="#" style="margin-top: 4px;" class="btn btn-primary">Llamar</a>
            </div>
        </div>

        <div class="card dip-card" style="width: 11rem;">
            <img class="card-img-top" src="/assets/dip/sen-pichetto.jpg" alt="Card image cap">
            <div class="cover">
                <h5>PICHETTO<br><small>(Senador - <b>PJ</b>)</small></h5>
            </div>
            <div style="margin: auto;" class="card-body">
                <a href="#" class="btn btn-primary">Twittear</a> <br>
                <a href="#" style="margin-top: 4px;" class="btn btn-primary">Llamar</a>
            </div>
        </div>

        <div class="card dip-card" style="width: 11rem;">
            <img class="card-img-top" src="/assets/dip/sen-pichetto.jpg" alt="Card image cap">
            <div class="cover">
                <h5>PICHETTO<br><small>(Senador - <b>PJ</b>)</small></h5>
            </div>
            <div style="margin: auto;" class="card-body">
                <a href="#" class="btn btn-primary">Twittear</a> <br>
                <a href="#" style="margin-top: 4px;" class="btn btn-primary">Llamar</a>
            </div>
        </div>

    </div>
</div>

<style>
    .dip-img-list {
        background-image: url("/assets/dip/sen-pichetto.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 244px;
    }

    .dip-card {
        margin: 10px;
    }
</style>